.home {
  text-align: center;
  /* padding: 60px 40px; */
  background: url("/public/images/home-background.jpg");
  background-size: cover;
  /* height: 100vh; */
  width: 100vw;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  /* margin: 30px auto; */
  /* max-width: 900px; */
}

.home h1 {
  font-size: 48px; /* Larger font size for prominence */
  color: #333; /* Darker color for better contrast */
  font-family: "Roboto Slab", serif; /* Premium font */
  margin-bottom: 20px;
  letter-spacing: 1px; /* Increased letter spacing */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); /* Subtle text shadow */
}

.home p {
  margin-top: 20px;
  font-size: 20px; /* Larger font size for readability */
  color: #666; /* Softer color for secondary text */
  font-family: "Open Sans", sans-serif; /* Secondary font */
  line-height: 1.8; /* Increased line-height for better readability */
  max-width: 800px; /* Constrain the paragraph width for better readability */
  margin-left: auto;
  margin-right: auto;
}

.home .cta-button {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50; /* Premium button color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.home .cta-button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.home .cta-button:active {
  transform: translateY(0);
}
