
nav {
  background-color: #333;
  padding: 20px 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 20px; 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

nav ul li {
  margin: 0 5px; 
}

nav ul li a,
nav ul li button {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 12px; 
  transition: background-color 0.3s ease;
  border: none;
  background: none;
  cursor: pointer;
}

nav ul li a:hover,
nav ul li button:hover {
  background-color: #4caf50;
  border-radius: 5px;
}

nav ul li button {
  border: none;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    justify-content: center; 
  }

  nav ul li {
    margin: 10px 0;
  }

  nav .logo {
    padding-left: 0; 
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}


.logo img {
  height: 60px; 
  width: auto;
  object-fit: contain;
  cursor: pointer; 
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  margin: 0 10px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

ul li a:hover {
  color: #4caf50; 
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}
